section#properties {
  position:absolute;
  top: 50px;
  bottom:0;
  left:0;
  right:0;

  .message {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    font-size: 25px;
  }

  .item {
    width:100%;
    .inner {
      margin: 0 10px 20px 10px;
      //height: 200px;
      position:relative;
      background-color: white;

      padding-bottom:67%;
      box-sizing: border-box;
      div.img-container {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:50px;
        background-color: #404040;
        overflow:hidden;
        text-align: center;
        img {
          width:auto;
          height: 100%;
          border: 0;
        }

      }
      .info {
        position: absolute;
        bottom:50px;
        left:0;
        right:0;
        padding: 50px 10px 15px 10px;
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
        text-shadow: 0 1px 1px rgba(0,0,0,0.8);
        color: white;
        font-size: 15px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        .title:hover  {
          text-decoration: underline;
          cursor:pointer;
        }


        .title {
          position: absolute;
          top:20px;
          bottom:5px;
          left:10px;
          right:10px;
          overflow:hidden;
          text-rendering: optimizelegibility;
          font-weight: bold;
          -webkit-font-smoothing: antialiased;
        }

      }
      .details {
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        .price {
          position: absolute;
          text-align: right;
          bottom:10px;
          left:30%;
          right:10px;
          color: #4d90fe;
          font-size: 24px;
          font-weight:bold;
          -webkit-font-smoothing: antialiased;
        }
        .agency {
          position:absolute;
          bottom:8px;
          left: 5px;
        }
      }

    }

  }
}