<!DOCTYPE html>
<html>
<head>
    <title ng-bind="$state.current.name + ' - ui-router'">ui-router</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendor/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/home/styles.css"/>


</head>
<body>
    <div class="c">
        <div><img src="http://kenwheeler.github.io/slick/img/fonz1.png"></div>
        <div><img src="http://kenwheeler.github.io/slick/img/fonz2.png"></div>
        <div><img src="http://kenwheeler.github.io/slick/img/fonz3.png"></div>
    </div>
    <input type="text" id="location">
    <button id="submit" type="button">search</button>
    <script type="text/javascript" src="/assets/js/vendor/jquery2/jquery2.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="/assets/js/home.js"></script>
</body>
</html>