
@media screen and (min-width: 700px) {
  header#header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 400px;
    height: 100%;
    background-color: black;
  }
  section#content {
    padding: 0 0 0 400px;
    div#properties {
      .item {
        width:100%;
      }
    }
  }
}


@media screen and (min-width: 900px) {
  section#content {
    div#properties {
      .item {
        float:left;
        width:50%;
      }
    }
  }
}